.main {
	max-width: 1440px;
	padding: 50px 20px;
	margin: 0 auto;
}
table {
	margin: 0 auto;
	border: 3px double rgb(155, 2, 2);
}
td {
	border: 1px solid gray;
	padding: 5px;
}
.top {
	font-style: italic;
	color: red;
	& td {
		border-bottom: 4px solid red;
	}
}